<div class="bg-light py-3 mb-4">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="m-0"><%= pageTitle %></h1>
            <div>
                <span class="me-3">Welcome, <%= user.namaUser %></span>
                <a href="/logout" class="btn btn-sm btn-outline-danger">Logout</a>
            </div>
        </div>
    </div>
</div>